.in_line input{
    display: inline-block;
}
.in_line p{
    display: inline-block;
}
.in_line {
    margin: auto;
    width: 15%;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}


