<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
</head>
<body>
<H1>Hi! This's a Web site with info about anime!</H1>
<br>
<br>

<table border="1">
    <tr>
        <th>English name</th>
        <th>Russian name</th>
        <th>Genre</th>
        <th>Announced episodes</th>
        <th>Released episodes</th>
        <th>Finished</th>
        <th>Published</th>
        <th>Started</th>
    </tr>
    <tr th:each = "anime : ${listAnime}">
        <td th:utext="${anime.enAnimeName}">...</td>
        <td th:utext="${anime.ruAnimeName}">...</td>
        <td th:utext="${anime.genre}">...</td>
        <td th:utext="${anime.announcedEpisodes}">...</td>
        <td th:utext="${anime.releasedEpisodes}">...</td>
        <td th:utext="${anime.isFinished}">...</td>
        <td th:utext="${anime.published}">...</td>
        <td th:utext="${anime.started}">...</td>
    </tr>
</table>

<div class="in_line">
    <input type="button" value="<< Назад" id="back_button" onclick="backToPage()">

    <p th:text="${count_page}" id="page"></p>
    <p>/</p>
    <p th:text="${max_page}" id="max_page"></p>

    <input type="button" value="Вперед >>" id="next_button" onclick="nextToPage()">
</div>


</body>
</html>